.cardDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #4776e6, #8e54e9);
  width: 270px;
  height: 120px;
  padding-left: 16px;
  border-radius: 6px;
  gap: 10px;
}

.cardimg {
  width: 62px;
  height: 60px;
}

.cardParasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 65px;
}

.p1 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;

  font-family: "Yantramanav", sans-serif;
}

.p2 {
  font-size: 18pxx;
  font-weight: 400;
  color: #ffffff;

  font-family: "Yantramanav", sans-serif;
}
